@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body,p,spqn,a,table,th,td,input,textArea,option,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,small,button{
	font-family:'KOTRAHOPE';
}
.contaner{
	width:600px;
}

.table.vertical th{
	width:150px;
	text-align:center;
	vertical-align:middle;
}
.form-control.short{
	width:100px;
}
.form-control.middle{
	width:170px;
}

.table.horizontal th {
	text-align:center;
	background-color: #EEE;
}

.table.horizontal th:nth-child(1) { width: 50px; }
.table.horizontal th:nth-child(2) { width: 80px; }
.table.horizontal th:nth-child(3) { width: 50px; }
.table.horizontal th:nth-child(4) { width: 130px; }
.table.horizontal th:nth-child(5) { width: auto; }

.table.horizontal td {
	text-align:center;
	background-color: #EEE;
}

.table.horizontal td:nth-child(5) { text-align: left; }